.white {
  Color: #FFFFFF;
}

.red-orange {
  Color: #FF3333;
}

.silver-chalice {
  Color: #AAAAAA;
}

.black {
  Color: #000000;
}

.cumin {
  Color: #973D1A;
}

.carrot-orange {
  Color: #EB9531;
}

.portafino {
  Color: #FFFFB3;
}

.japanese-laurel {
  Color: #197219;
}

.dark-fern {
  Color: #0C3F0C;
}

.aquamarine {
  Color: #A3FFD4;
}

.malibu {
  Color: #83D3FF;
}

.tropical-blue {
  Color: #BADFFF;
}

.danube {
  Color: #66A1CD;
}

.ebony-clay {
  Color: #282E3F;
}

.masala {
  Color: #424244;
}

.shark {
  Color: #2B2A31;
}

.abbey {
  Color: #58575B;
}

.fuchsia-blue {
  Color: #7B5DBD;
}

.baltic-sea {
  Color: #222026;
}

.hot-pink {
  Color: #EF6EBD;
}

.mandy {
  Color: #E64D59;
}
